.landing_container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  opacity: 0.8;
  z-index: 1;
}

/* .landing_writer {
  color: var(--light-blue) !important;
} */

.landing_title {
  position: relative;
  z-index: 2;
  background-color: rgba(1, 1, 1, 0.6);
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  color: var(--white);
  text-align: center;
}

.landing_title h2 {
  margin-bottom: 0;
}